<div class="continer">
  <div class="title">
<h1>Welcome to {{carData.car_name}}'s car page!</h1>
</div>
<img src="/images/{{carData.car_img}}" alt="car image" id="carsf">

<h3>About {{carData.car_name}}</h3>
<p>{{carData.car_price}}</p>
<p>{{carData.car_style}}</p>
<p>{{carData.car_desc}}</p>
</div>
